make-post-sheet-data-as-chart-to-slack.blueprint.json
{
    "name": "make-post-sheet-data-as-chart-to-slack",
    "flow": [
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "spreadsheetID",
                        "value": ""
                    },
                    {
                        "name": "sheetName",
                        "value": ""
                    },
                    {
                        "name": "dataValuesRange",
                        "value": ""
                    },
                    {
                        "name": "slackChannelID",
                        "value": ""
                    },
                    {
                        "name": "slackBotToken",
                        "value": ""
                    },
                    {
                        "name": "lastXtoShowOnChart",
                        "value": "12"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 135,
                    "y": 77,
                    "name": "variables"
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "spreadsheetID",
                        "label": "spreadsheetID",
                        "type": "any"
                    },
                    {
                        "name": "sheetName",
                        "label": "sheetName",
                        "type": "any"
                    },
                    {
                        "name": "dataValuesRange",
                        "label": "dataValuesRange",
                        "type": "any"
                    },
                    {
                        "name": "slackChannelID",
                        "label": "slackChannelID",
                        "type": "any"
                    },
                    {
                        "name": "slackBotToken",
                        "label": "slackBotToken",
                        "type": "any"
                    },
                    {
                        "name": "lastXtoShowOnChart",
                        "label": "lastXtoShowOnChart",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:makeAPICall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 14087322
            },
            "mapper": {
                "url": "/spreadsheets/1{{9.spreadsheetID}}/values/{{9.sheetName}}!{{9.dataValuesRange}}",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 435,
                    "y": 77,
                    "name": "get range from sheet"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "ozan@getwhisk.io Google connection (ozan@getwhisk.io)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "code:ExecuteCode",
            "version": 1,
            "parameters": {},
            "mapper": {
                "language": "javascript",
                "input": [
                    {
                        "name": "data",
                        "value": "{{7.body.values}}"
                    },
                    {
                        "name": "channel",
                        "value": "{{9.slackChannelID}}"
                    },
                    {
                        "name": "token",
                        "value": "{{9.slackBotToken}}"
                    },
                    {
                        "name": "numberOfDataToShow",
                        "value": "{{9.lastXtoShowOnChart}}"
                    }
                ],
                "dependencies": [],
                "inputFormat": "editor",
                "codeEditorJavascript": "const { data, channel, token, numberOfDataToShow } = input;\n\nconst WEEKS_TO_SHOW = numberOfDataToShow;\nconst weekRow  = data[0] || [];\nconst valueRow = data[1] || [];\n\nconst valid = [];\nfor (let i = 0; i < weekRow.length; i++) {\n  const label = String(weekRow[i] || '').trim();\n  const raw   = String(valueRow[i] ?? '').replace(/[, ]/g, '');\n  if (/^Week\\s*\\d+/i.test(label) && raw !== '' && !isNaN(Number(raw))) {\n    valid.push({ label, val: Number(raw) });\n  }\n}\n\nconst last = valid.slice(-WEEKS_TO_SHOW);\nconst labels = last.map(x => x.label);\nconst values = last.map(x => x.val);\n\nconst minV = Math.min(...values);\nconst maxV = Math.max(...values);\nconst yMax = Math.ceil(maxV / 10000) * 10000;\n\nconst colors = values.map(v => {\n  const r = (v - minV) / (maxV - minV || 1);\n  const hue = Math.round(r * 130);\n  return `hsl(${hue}, 70%, 50%)`;\n});\n\nconst chartConfig = {\n  type: 'bar',\n  data: {\n    labels,\n    datasets: [{\n      label: 'Sales',\n      data: values,\n      backgroundColor: colors,\n      borderRadius: 6,\n      borderSkipped: false\n    }]\n  },\n  options: {\n    plugins: {\n      legend: { display: false },\n      title: {\n        display: true,\n        text: `Weekly Sales : last ${values.length} weeks`,\n        font: { size: 20, weight: 'bold' },\n        color: '#1a1a1a',\n        padding: { top: 10, bottom: 20 }\n      },\n      datalabels: {\n        anchor: 'end',\n        align: 'top',\n        color: '#333',\n        font: { weight: 'bold', size: 11 },\n        formatter: v => v.toLocaleString()\n      }\n    },\n    scales: {\n      y: {\n        type: 'linear',\n        beginAtZero: true,\n        suggestedMin: 0,\n        min: 0,\n        max: yMax,\n        grid: { color: '#eee' },\n        ticks: { font: { size: 11 } }\n      },\n      x: { grid: { display: false }, ticks: { font: { size: 12 } } }\n    },\n    layout: { padding: { top: 20, right: 20, left: 10, bottom: 10 } }\n  }\n};\n\nconst chartUrl = 'https://quickchart.io/chart?v=4&bkg=white&w=900&h=450&c=' +\n  encodeURIComponent(JSON.stringify(chartConfig)) +\n  '&t=' + Date.now();\n\nconst fmt = n => n.toLocaleString('en-US');\nconst latest = values[values.length - 1];\nconst prev   = values[values.length - 2];\nconst delta  = latest - prev;\nconst pct    = ((delta / prev) * 100).toFixed(1);\nconst arrow  = delta >= 0 ? '▲' : '▼';\n\nreturn {\n  body: JSON.stringify({\n    channel,\n    text: 'Weekly Sales chart',\n    blocks: [\n      { type: 'image', image_url: chartUrl, alt_text: 'Weekly sales chart' },\n      { type: 'context', elements: [\n        { type: 'mrkdwn', text: `Sales in *${labels[labels.length - 1]}* is *${fmt(latest)}* ${arrow} ${fmt(Math.abs(delta))} (${pct}%) vs prev week` }\n      ]}\n    ]\n  }),\n  token\n};"
            },
            "metadata": {
                "designer": {
                    "x": 735,
                    "y": 78,
                    "name": "prepare chart"
                },
                "restore": {
                    "expect": {
                        "language": {
                            "mode": "chose",
                            "label": "JavaScript"
                        },
                        "input": {
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "inputFormat": {
                            "label": "Code editor"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "language",
                        "type": "select",
                        "label": "Language",
                        "required": true,
                        "validate": {
                            "enum": [
                                "javascript",
                                "python"
                            ]
                        }
                    },
                    {
                        "name": "input",
                        "type": "array",
                        "label": "Input",
                        "spec": {
                            "type": "collection",
                            "label": "Variable",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[a-zA-Z0-9_]{1,32}$",
                                        "min": 1,
                                        "max": 32
                                    },
                                    "label": "Name"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "dependencies",
                        "type": "array",
                        "label": "Additional dependencies (Enterprise plans only)",
                        "spec": {
                            "type": "text",
                            "required": true,
                            "label": "Dependency",
                            "validate": {
                                "pattern": "^[A-Za-z0-9_@\\./<>=!~\\^+-]{1,214}$",
                                "min": 1,
                                "max": 214
                            },
                            "name": "value"
                        }
                    },
                    {
                        "name": "inputFormat",
                        "type": "select",
                        "label": "Input format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "editor",
                                "string"
                            ]
                        }
                    },
                    {
                        "name": "codeEditorJavascript",
                        "type": "editor",
                        "label": "Code",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://slack.com/api/chat.postMessage",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{4.result.token}}"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{{4.result.body}}"
            },
            "metadata": {
                "designer": {
                    "x": 1045,
                    "y": 68,
                    "name": "post to slack"
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}